.death {
    color: blueviolet
}

p marquee {
    color: brown;
}

a:link {
    color: cadetblue;
}

a:visted {
    color: rebeccapurple;
}

a:hover {
    text-decoration: underline dotted;
    border: 2px solid red;
    border-radius: 10px;
    background-color: whitesmoke;
}